h1{
	background: #2980b9;
	padding: 10px 10px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 0px;
	color: #fff;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

body{
	font-family: Muli;

  background: -webkit-linear-gradient(to right, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373b44, #4286f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-plus{
	float: right;
}
li{
	background: #fff;
	height: 40px;
	line-height: 40px;
}

li:nth-child(2n){
	background: #f9f9f9;
}
input{
	padding:15px 10px 10px 10px;
	font-size: 15px; 
	width: 100%;
	background: #f9f9f9;
	margin-top: 0px;
	box-sizing: border-box;
	color:#2980b9;
	border:3px solid rgba(0,0,0,0.1);

}
input:focus{
	background: #fff;
	border:3px solid #2980b9;
	outline: none;
}

#container{
	background:#f9f9f9;
	margin: 100px auto;
	width: 300px;
	box-shadow: 0 0 3px rgba(5,5,5,0.2);
}
.completed{
	color:gray;
	text-decoration:line-through;
}

span{
	color: #fff;
	background: red;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	 display: inline-block;
	 width: 0px;
	 transition: 0.2s linear;
	 opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1;
}